/*Ces styles ne sont là que pour la présentation*/
body{
    background-color: black;
}
.conteneur{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.letexte{
    margin-top: 200px;
    color: white;
    font-size: 40px;
    border: solid 4px white;
    padding: 30px 30px 30px 30px;
    display: inline-block;
    transition: all ease-in 0.8s;
}
.letexte:hover{
    transform: translateX(500px);
    background-color: white;
    color:black
}




